<section class="row">
  <article class="column">
    <h2>Todays Feeds is beautiful</h2>
    <ul class="collection">
    </ul>
  </article>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        window.createSocket()
    });
</script>